/tmp
/hmmer
hmmer/bin/phmmer
hmmer/bin/nhmmscan
hmmer/bin/nhmmer
hmmer/bin/makehmmerdb
hmmer/bin/jackhmmer
hmmer/bin/hmmstat
hmmer/bin/hmmsim
hmmer/bin/hmmsearch
hmmer/bin/hmmscan
hmmer/bin/hmmpress
hmmer/bin/hmmpgmd_shard
hmmer/bin/hmmpgmd
hmmer/bin/hmmlogo
hmmer/bin/hmmfetch
hmmer/bin/hmmemit
hmmer/bin/hmmconvert
hmmer/bin/hmmbuild
hmmer/bin/hmmalign
hmmer/bin/esl-weight
hmmer/bin/esl-translate
hmmer/bin/esl-ssdraw
hmmer/bin/esl-shuffle
hmmer/bin/esl-sfetch
hmmer/bin/esl-seqstat
hmmer/bin/esl-seqrange
hmmer/bin/esl-selectn
hmmer/bin/esl-reformat
hmmer/bin/esl-mixdchlet
hmmer/bin/esl-mask
hmmer/bin/esl-histplot
hmmer/bin/esl-construct
hmmer/bin/esl-compstruct
hmmer/bin/esl-compalign
hmmer/bin/esl-alistat
hmmer/bin/esl-alirev
hmmer/bin/esl-alipid
hmmer/bin/esl-alimerge
hmmer/bin/esl-alimask
hmmer/bin/esl-alimap
hmmer/bin/esl-alimanip
hmmer/bin/esl-afetch
hmmer/bin/easel
hmmer/bin/alimask
